# database config
DATABASE_HOST = localhost
DATABASE_PORT = 3306
DATABASE_USER = root
DATABASE_PASSWORD = 
DATABASE_NAME = eth_swap 
SEQUELIZE_ENABLE_LOGGING = false

#redis config
REDIS_URL = redis://:127.0.0.1:6379/1

# lock config
ETH_LOCK_TYPE_ID = 0x03a830bb10a5f3446543c8692ef33c419f04ce31c214e17d8c905cc86b3a5dd9
ETH_LOCK_TX_HASH = 0x593a945e352d38b4f08a62ae6a83a8018193799026d03a0dbf514c6baa51a2ff


# ckb node 
CKB_RPC_ENDPOINT = https://lay2.ckb.dev
CKB_CELLMAP_URL = https://cellapi.lay2.dev
CKB_PRIVATE_KEY = 


# etherscan.io token
ETHERSCAN_TOKEN = 
ETH_CHAIN = rinkeby

# eth assets deposit address
ETH_DEPOSIT_ADDRESS = 


# swap fee rate
SWAP_FEE_RATE = 0.01






